<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="container">
<div class="d-flex flex-column align-items-center justify-content-center gx-3">   
<h1 class="text-center"><%= error.status %> - <%= message %></h1>
<img style="max-width:500px"src="/assets/images/404-link-lost.jpg" />
<a href="/"><button type="button" class="btn btn-primary">Return Home</button></a>
</div>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
